html {
    position: relative;
    min-height: 100%;
}

body {
	padding-top: 70px;
    /* margin bottom by sticky footer height */
    margin-bottom:135px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    text-align: center;
    align-items: center;
}

.footer > .container > p:first-child {
    padding-top:5px;
}

.container {
    width: 85%;
}


/* navigation bar */
.navbar-default {
	background-color: #CC0000;
	border-color: #CC0000;
}
/* title */
.navbar-default .navbar-brand {
    /* color: #FFCC66; */
    padding-top:0px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    /* color: #5E5E5E; */
}  
.navbar-default .navbar-brand img {
   padding-top:5px;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFCC66;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #FFFFCC;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #FFFFCC;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFCC66;
    border-bottom-color: #FFCC66;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #FFCC66;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #FFFFCC;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFCC66;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FFCC66;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
    .container {
        width: 95%;
    }
    .tootip {
        display: none !important;
    }
}

/* tooltips and popovers */
.tooltip-inner {
    white-space: pre;
    max-width: none;
}

/* slidedown topics list */
#topicsList {
    padding-top: 10px;
}

#topicsList > .well > .row {
    margin-top: -10px;
}
